* {
    padding: 0;
    margin: 0;
    font-family: 'DM Serif Display', serif;
  }
  
  body {
    border-radius: 40px;
    background: -webkit-linear-gradient(180deg, rgb(19, 28, 70), rgb(7, 138, 239));
    background: linear-gradient(180deg, rgb(19, 28, 70), rgb(7, 138, 239));
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
  }
  
  img {
    max-width: 100%;
  }
  
  #container {
    box-sizing: border-box;
    padding: 2%;
    color: #fdfdfd;
    border-radius: 1rem;
    max-width: 400px;
    box-shadow: 0px 3px 8px #131c46;
    background-color: #4fafff;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchBar {
    display: flex;
    width: 90%;
    margin-bottom: 2em;
    justify-content: center;
    margin: 5%;
  }
  
  .searchBar button {
    padding: 0.8rem;
    min-width: 50px;
    background-color: #8dd0f5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .searchBar input {
    flex: 1;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
    margin-right: 4%;
  }
  
  
  .hide {
    display: none;
  }
  
  #not-found {
    margin: 2em;
  }
  
  #not-found img {
    margin-bottom: 2em;
  }
  
  #not-found p {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #weatherIcon {
    width: 100px;
    max-width: 100%;
  }
  
  #output .tempCelsius {
    font-size: 3.5em;
  }
  
  .description {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 22px;
    padding: 2%;
    margin: 4%;
    
  }
  
  #details-container {
    display: flex;
    justify-content: space-evenly;
    background-color: navy;
    opacity: 0.2;
    padding: 5px;
    border-radius: 25px;
  }
  
  #details-container i p {
    font-size: 22px;
  }
  
#max-tem {
    margin-right: 10px;
}

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .icons {
    flex: 1;
  }
  
  .weatherContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  
  .imgClass {
    width: 80px;
    max-width: 100%;
  }
  
  .minValues {
    color: rgb(73 72 74);
  }
  
  @media screen and (max-width: 600px) {
    #container {
      max-width: 75%;
    }
  }
  